*.npy
*.tsv
*.egg-info
submitit-logs/
dask-worker-space/
gcta64
gcta_nr_robust
job_out
out/
OLD*/
# Jupyter Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
